{% extends "base.html" %}
{% block head %}
{% load static %}
<title>Profile page</title>

{% endblock %}

{% block body %}
<div class="jumbotron">
  <div class="container-fluid">
    <h2 id="posttitle">{{user.username}}'s profile page:</h2>
    <br>
    <h3>Email address : {{user.email}}</h3>
    <br>
    <h3>First name : {{user.first_name}} ,  Last name: {{user.last_name}}</h3>
      <br>
    <h3>Description about the user : {{user.userprofile.description}}</h3>
      <br>
    <h3>City of origin : {{user.userprofile.city}}</h3>
      <br>
    <h3>Phone number: {{user.userprofile.phonenumber}}</h3>
  </div>

</div>
{% endblock %}
