{% extends "base.html" %}

{% block body %}
<div class="container centerstage card mb-8 border-dark">
            <div class="col-md-12" >
  <h1 class="posttitle">{{obj.title}}</h1>

  {% if obj.published_date%}
    <div class="date postdate"> by {{obj.user}} on
      {{obj.published_date}}
    </div>
  {% else %}
    {%  if user.is_superuser %}
      <a class="btn btn-success" href="{% url 'blog:post_publish' pk=obj.pk %}">Publish this post</a>
    {% endif %}
  {% endif %}
  <p class="contentofpost">
    <br>
    <br>
    {{obj.text}}
    <br>
  </p>
  {% if user.is_superuser %}
  <a class="btn btn-info" href="{% url 'blog:post_update' pk=obj.pk %}">
    <span>Update Post</span>
  </a>
  <a class="btn btn-danger" href="{% url 'blog:post_delete' pk=obj.pk %}">
    Remove Post
  </a>
{% endif %}
</div>
</div>
<div id='accordion'>

  {% for comment in obj.comments.all %}
    {% if comment.approved_comment %}
    <h5 id="ui-accordion-header">{{comment.author}} wrote on {{comment.create_date}} </h5>
    <div>
          <p id='accordiontext'>{{comment.text}}</p>
          {% if user.is_superuser %}
          <a class="btn btn-danger" href="{% url 'blog:comment_remove' pk=comment.pk %}">
            Remove Comment
          </a>
          {% endif %}
    </div>
  {% endif %}
        {%if user.is_superuser%}
    {% if not comment.approved_comment %}

      <h5>{{comment.author}} wrote on {{comment.create_date}} </h5>
      <div>
            <p>{{comment.text}}</p>
            <a class="btn btn-success" href="{% url 'blog:comment_approve' pk=comment.pk %}">
              Approve Comment
            </a>
            <a class="btn btn-danger" href="{% url 'blog:comment_remove' pk=comment.pk %}">
              Remove Comment
            </a>
      </div>
        {% endif %}
        {% endif %}
  {% endfor %}
</div>
{% if user.is_authenticated %}
<div class="container">
  <a class="btn btn-primary btn-comment" href="{% url 'blog:add_comment_to_post' pk=obj.pk %}">Comment</a>
</div>
<script>
$( "#accordion" ).accordion({
  collapsible: true,
  animate:500,
  active:false,

});
$(".ui-accordion-header").css("background","lightgrey") ;
$(".ui-accordion-content").css("background","grey") ;
</script>
{% endif %}

{% endblock %}
